@(message: String)

@main(message){
<h1>How to play Squared Trivial Game &#169;</h1>
<p>Trivialito: "Do you know how to play trivia games? I think you do...
selecting a color related to a category, be asked questions...
and those all common stuff. BUT this is not a perfectly common
rounded trivia game... this is SPARTA!! just kidding... that 
is a perfectly rectangular trivia game with beautiful rectangular boxes like those:"<p>
<div style="position:absolute;top: 28%;left: 33%;">
<p>History<p>
</div>
<div style="position:absolute;top: 28%;left: 43%;">
<p>History<p>
</div>

<div style="position:absolute;top: 28%;left: 54%;">
<p>History<p>
</div>

<div style="position:absolute;top: 28%;left: 66%;">
<p>History<p>
</div>

<div style="position:absolute;top: 28%;left: 77%;">
<p>History<p>
</div>
<div style="position:absolute;top: 28%;left: 88%;">
<p>History<p>
</div>

<img id="trivialito2" src="@routes.Assets.at("images/trivialito2.svg")" alt="trivialito2"/>
<!--AZUL-->
<button type="button" id="azul0_0"  style="position:absolute;top: 38%;left: 30%;"></button>
 <!--VERDE-->
<button type="button" id="verde0_1"  style="position:absolute;top: 38%;left: 42%;"></button>
 <!--ROJO-->
<button type="button" id="rojo0_2"  style="position:absolute;top: 38%;left: 53%;"></button>
 <!--AMARILLO-->
<button type="button" id="amarillo0_3"  style="position:absolute;top: 38%;left: 64%;"></button>
 <!--MORADO-->
<button type="button" id="morado0_5"  style="position:absolute;top: 38%;left: 76%; "></button>

<button type="button" id="naranja0_6" style="position:absolute;top: 38%;left: 87%;"></button>


<div style="position:absolute;top: 50%;left: 54%;">
<p>Cheese squares<p>
</div>

<button type="button" id="blanco6_4"  style="position:absolute;top: 58%;left: 30%;"></button>

<button type="button" id="blanco3_0"  style="position:absolute;top: 58%;left: 87%;"></button>

<button type="button" id="blanco0_4"  style="position:absolute;top: 58%;left: 53%;"></button>

<button type="button" id="blanco3_2"  style="position:absolute;top: 58%;left: 76%;"></button>

<button type="button" id="blanco3_6"  style="position:absolute;top: 58%;left: 64%;"></button>

<button type="button" id="blanco3_8"  style="position:absolute;top: 58%;left: 42%; "></button>


<div style="position:absolute;top: 70%;left: 48%;">
<p>Black Square is my salvation!<p>
</div>


<button type="button" id="blanco3_4" style="position:absolute;top: 78%;left: 53%;"></button>




}
